# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
!/docker/mysql-connector-java-8.1.0.jar
/docker/db/*
/biblioteca-ear/nb-configuration.xml
/classes/nb-configuration.xml
/nb-configuration.xml
/nbactions.xml
/target
/nbproject/
/classes/
/biblioteca-ejb/
/biblioteca-ear/
/docker/wildfly/
/war-module/target/
/jar-module/target/
/bibliotecal-jar/target/
/biblioteca-jar/target/
/biblioteca-gui/target/
/biblioteca-war/target/
